.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 50px 0px;
  margin: 0 auto;
}

.main h1 {
  background-color: #014B3F;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.199);
  padding: 10px 50px;
}

.txtprod {
  background-color: #014B3F;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.199);
  padding: 10px 50px;
}


.secaoProduto {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.produtos { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .main h1 {
    font-size: 20px;
  }
}